h3{
    color:crimson;
    font-size:20px;
}
.box{
    display:flex;
    flex-direction:center;
    justify-content:center;
    align-items:center;
    border:2px solid block;
    background-color:lightcoral;
    width:400px;
    height:200px;
    position:relative;
    transform:translate(150%,0%);

}
.positions{
    position:sticky;
    top:-5%;
    text-align:center;
}
.container{
    border:1px solid black;
    background-color:peachpuff;
    position:sticky;
    top:0%;

}
.place{
   display:flex;
   justify-content:end;
}
.set{
    font-size:20px;
}