.gallery {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    justify-items: center;
    place-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink:1;
}

.gallery img {
    width: 80%;
    height: 250px;
    object-fit: cover;
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.878));
}
.item{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
}

@media (max-width: 450px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}


